*{
    
    background-color:#C85250;
    
}
.name{
    text-align: center;
}
h1{
    font-family: cursive;
    font-style: italic;
    color: #F7BEC0 ;
    
}
h1:hover{
   transition: 2s ;
    
    text-decoration: solid underline rosybrown;
    
}
h4{
    
    font-family: cursive;
    font-style: oblique;
    font-size: large;
    color: #F7BEC0  ;
}
h3{
    font-family: cursive;
    font-style: normal;
    color: #F7BEC0  ;
}
.magns{
    margin: 0px 520px 0px 500px;
    border: 10px solid #E9EAE0;
    border-radius: 5%;
    box-shadow: 4px 4px 8px green;

}
p,ul,ol{
    color:#c7b6a1;
    font-family: cursive;
}
p:hover{
    transition: 3s;
    text-decoration:wavy underline black;
}

.magns:hover{
    
    transition: 1s;
    box-shadow: 0px 16px 32px black;
}
.games{
    height:400px;
    width:300px;
    border: 2px solid #E9EAE0;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0px 8px 16px green;
    display:inline-block;
    transition: 1s;
}
.games:hover{
    box-shadow: 0px 16px 32px black;
}
.gimg{
    height:40%;
    width:100%;
    border-radius: 5px 0px 5px 0px;

}
.desc{
    padding: 2px 4px 2px 4px;
}
h5{
    font-family: cursive;
    color: black;
}
.he4:hover{
    transition: 2s;
    transform: translate(0px, 50%);
}
.hearts{
    text-align: center;
}
